.env
/data/raw/chat.db
/data/raw/chat.db-shm
/data/raw/chat.db-wal
__pycache__
data.txt
dataset
claude.md
data/.DS_Store
DS_Store
.DS_Store
checkpoints
results.json
.chainlit/translations/it.json
backend/data/raw/chat.db
CLAUDE.md